<h1>Artists Album Page</h1>

<div>
   {{#each artists}}
<ul>
<li><img src="{{images.[0].url}}" alt="{{name}}"></li>
<li>{{name}}</li>
<a href="/albums/{{id}}" name="id" method="GET">View Albums</a>
</ul>
   {{/each}}
</div>